header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
  }
  
  nav {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid #CCC;
  }
  
  .navmenu {
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }
  
  .navmenu ul {
    float: right;
    height: 80px;
    line-height: 80px;
    margin: 0;
  }
  .navmenu li {
    list-style: none;
    float: left;
    margin: 0 15px;
  }