footer{
    background-color: rgb(3, 3, 3);
    color: rgb(61, 61, 61);
    padding: 50px;
    text-align: center;
  
}
.rod{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 1em;
    color: antiquewhite;
    padding: 40px;
    text-align: center;

}