footer{
    background-color: darkgrey;
}
.rod{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 1em;
    color: #cf3e2a;
    padding: 40px;
    text-align: center;

}