
.div-app{
    background-color: cadetblue;
    padding: 20px;
}

.div-h1{
    color: black;
    font-size: 2em;
}

.div-p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}